{#
#   (`-')           (`-').->
#   ( OO).->        (OO )__
# ,(_/----. .----. ,--. ,'-' doubt everything,
# |__,    |\_,-.  ||  | |  |
#  (_/   /    .' .'|  `-'  | be curious,
#  .'  .'_  .'  /_ |  .-.  |
# |       ||      ||  | |  | learn.
# `-------'`------'`--' `--'
#}
{% extends "index.html" %}
{% block main %}

<div class="not-found" style=";">
  <p><span style="font-weight:bold;font-size:120px">404</span><br>
    <br>At <strong>Zero to Hero</strong> things move a lot.<br><br>
  If you are searching for something,<br> <a href="/" style="text-decoration:underline;font-weight:bold;">the home page</a> could be a good
    starting point.</p>

  <p>&nbsp;</p>
  <p>Here are a few sections that you can use as a starting point:</p>
   <p>&nbsp;</p>
  <ul>
    <li><a style="text-decoration: underline" href="/spire/">Tutorials and Articles about SPIFFE and SPIRE</a></li>
    <li><a style="text-decoration: underline" href="/roadmap/">The Roadmap</a></li>
    <li><a style="text-decoration: underline" href="/highlights/">Zero to Hero Highlights</a></li>
    <li><a style="text-decoration: underline" href="/zero-to-prod/">Zero to Prod in Half an Hour</a></li>
    <li><a style="text-decoration: underline" href="/tips/">Tips and Tricks</a></li>
    <li><a style="text-decoration: underline" href="/top-of-mind/">Random Ponderings</a></li>
    <li><a style="text-decoration: underline" href="/vadideki-geyik/">Vadideki Geyik</a></li>
    <li><a style="text-decoration: underline" href="/vadideki-geyik/geyik-academy">Geyik Academy</a></li>
  </ul>
</div>

{% endblock %}
