{#
#   (`-')           (`-').->
#   ( OO).->        (OO )__
# ,(_/----. .----. ,--. ,'-' doubt everything,
# |__,    |\_,-.  ||  | |  |
#  (_/   /    .' .'|  `-'  | be curious,
#  .'  .'_  .'  /_ |  .-.  |
# |       ||      ||  | |  | learn.
# `-------'`------'`--' `--'
#}
{% import "macros/social_icon.svg.html" as macro_social -%}
<!DOCTYPE html>
<html lang="{{ lang }}" dir="{{ config.extra.papermod.language_direction }}">
<head>
    {% block head %}
    {% include "partials/head.html" %}
    {% endblock %}
</head>
<body class="{% if section or term or taxonomy %}list {% endif %}{% if config.extra.papermod.theme == 'dark' %} dark{% endif %}" id="top">
    {% block header %}
    {% include "partials/header.html" %}
    {% endblock %}
    <main class="main">
      <p style="background: #e79115;color:#000000;padding:1em;margin:1em;border-radius:1em;">
        <strong>A Quick Note</strong>:<br><br>
        I am gradually updating and modifying the contents of this blog;<br>
        however, the focus and time I allocate here is fairly limited, and
        fairly random.<br><br>
        Enjoy the content; yet, keep in mind that things might feel a tad
        unpolished, or incomplete.<br><br>
        Thanks for stopping by,<br><br>
        <strong>Volkan</strong>.
      </p>
        {% block main %}
        {% include "partials/home_info.html" %}



        {% include "partials/home_posts.html" %}
        {% endblock %}
    </main>
    {% block footer %}
    {% include "partials/footer.html" %}
    {% endblock %}
</body>
</html>
